body {
	margin:0;
	height: 100%;
	background:skyblue;
	overflow-x: hidden;
}

.container {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.loginDiv {
	border:3px solid blue;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
}

.loginBtn {
	width:80px;
	margin-top:10px;
}

.loggedInDiv {
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	text-align:center;
}

.errorDiv {
	position:absolute;
	left:50%;
	top:70%;
	-webkit-transform:translate(-50%,-70%);
	transform:translate(-50%,-70%);
	color: red;
}

.headerNav {
  padding: 8px 0px;
  background-color: blue;
  color: black;
  border: 1px solid black;
  width: 100%;
}

.headerNav a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-right: 1px solid black;
}

.headerNav a:last-child {
  border-right: 0px;
}

.headerNav a:hover {
  color: white;
}

.searchForm {
  display:inline;
}

.searchBar {
  margin-left: 30px;
}

.indexWelcome {
  text-align: center;
}

.shopDiv {
  border: 1px solid black;
  border-right: none;
  width: 80%;
  height: auto;
  position:absolute;
  left:50%;
  top:20%;
  -webkit-transform:translate(-50%,0);
  transform:translate(-50%,0);
}

.productTable {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.productTable tr {
  border-bottom: 1px solid black;
}

.productTable tr:last-child {
  border-bottom: none;
}

.productTable td {
  height: 50px;
  border-right: 1px solid black;
}

.split {
  height: 50%;
  width: 40%;
  position: fixed;
  margin-top: 10%;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 1;

}
.left {
  margin-left: 5%;
  left: 0;
  border: 1px solid black;
  background-color: lightblue;
}

.right {
  margin-right: 5%;
  right: 0;
  border: 1px solid black;
  background-color: lightblue;
}

.makeOrder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orderMessage {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
