body {
	margin:0px;
	background:skyblue;
	overflow-x: hidden;
}

.container {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.loginDiv {
	border:3px solid blue;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom:10px;
}

.loginBtn {
	width:80px;
	margin-top:10px;
}

.loggedInDiv {
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	text-align:center;
}

.headerNav {
  padding: 8px 0px;
  background-color: blue;
  color: black;
  border: 1px solid black;
  width: 100%;
}

.headerNav a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-right: 1px solid black;
}

.headerNav a:last-child {
  border-right: 0px;
}

.headerNav a:hover {
  color: white;
}

.searchForm {
  display:inline;
}

.searchBar {
  margin-left: 30px;
}

.indexWelcome {
  text-align: center;
}

.shopDiv {
  border: 1px solid black;
  border-right: none;
  width: 80%;
  height: auto;
  position:absolute;
  left:50%;
  top:20%;
  -webkit-transform:translate(-50%,0);
  transform:translate(-50%,0);
}

.productTable {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

.productTable tr {
  border-bottom: 1px solid black;
}

.productTable tr:last-child {
  border-bottom: none;
}

.productTable td {
  height: 50px;
  border-right: 1px solid black;
}
